@import "mixins";
@import "./header.scss";
@import "./footer.scss";
@import "./main.scss";

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #CB0000;
}

li {
    list-style: none;
}